* {
	margin: 0;
	box-sizing: border-box;
	max-width: 100vw;
}

html {
    font-size: 2em;
	background-color: #CECECE;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	height: max(min(20%, 20vw), 100px);
	/*display: flex;
	justify-content: center;
	align-items: center;*/
	width: 100%;
	background-color: #A3B3C9;
	z-index: 999999;
}

nav > div > img {
	height: 100%;
	padding: 5px;
}
nav > div:nth-of-type(2) {
	justify-content: center;
}
nav > div:nth-of-type(1) {
	align-items: center;
}
nav > div {
	padding-inline: 20px;
	display: flex;
	width: 100%;
	left: 0;
	top: 0;
	height: 100%;
	position: absolute;
}

nav > div > a {
	padding-inline: 1rem;
    font-size: max(3vh, 20px);
    text-decoration: none;
    z-index: 10000000;
}

.segment {
	width: 100%;
	height: 100vh;
	position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}

.topBanner {
	padding-top: max(min(20vh, 20vw), 100px);
    overflow: hidden;
}

.topBanner img {
	max-height: 100%;
	max-width: 100%;
}

.center {
	display: grid;
	align-items: center;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px; 
}

.center > div {
	text-align: center;
}
.center > img {
    max-height: 100%;
    max-width: 100%;
}

.checked {
    color: orange;
}

.partTwo {
	background-size: 100%;
}

.partThree {
    overflow: hidden;
    grid-template-columns: 1fr;
    height: max(50vh, 300px);
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}
.partThree > div {
    grid-template-columns: repeat(5, 1fr);
	height: calc(100% - 40px);
    width: auto;
    max-width: unset;
    white-space:nowrap;
    position: absolute;
    background-color: #CECECE;
    animation: scroll 15s linear infinite;
}
@keyframes scroll {
    from {
        transform: translateX(0%);
    } to {
        transform: translateX(-50%);
    }
}

.partThree img {
	height: 100%;
    position: relative;
}

.partFour {
    height: auto;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

@media only screen and (max-width: 1500px) {
    .partFour {
        grid-template-columns: repeat(3, 1fr);
    }
}

.testimonial {
    background-color: skyblue;
    border-radius: 20px;
    padding: 5px;
}

button {
    padding: 20px;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    transition: background-color 0.5s;
    margin-top: 10px;
}
button:hover {
    background-color: skyblue;
    transition: background-color 0.5s;
}

@media only screen and (max-width: 800px) {
    nav > div:nth-of-type(2) {
        justify-content: right;
    }
    .center {
        grid-template-columns: 1fr;
    }
}

.partSix {
    grid-template-columns: 1fr;
}

.bigboi { 
    padding: 20px;
    font-size: 10vw;
    border-radius: 20px;
    width: auto;
}
