* {
	margin: 0;
	box-sizing: border-box;
	max-width: 100vw;
}

html {
	background-color: #CECECE;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 20%;
	/*display: flex;
	justify-content: center;
	align-items: center;*/
	width: 100%;
	background-color: #A3B3C9;
	z-index: 999999;
}

nav > div > img {
	height: 100%;
	padding: 5px;
}
nav > div:nth-of-type(2) {
	justify-content: center;
}
nav > div:nth-of-type(1) {
	align-items: center;
}
nav > div {
	padding-inline: 20px;
	display: flex;
	width: 100%;
	left: 0;
	top: 0;
	height: 100%;
	position: absolute;
}

nav > div > a {
	padding-inline: 2rem;
}

.segment {
	width: 100%;
	height: 100vh;
	height: 100dvh;
	position: relative;
}

.topBanner {
	
}

.topBanner img {
	float: right;
	max-height: 100%;
	max-width: 100%;
}

.center {
	display: grid;
	align-items: center;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px; 
}

.center > div {
	text-align: center;
}

.partTwo {
	height: auto;
	aspect-ratio: 5 / 2;
	background-size: 100%;
}

.partThree {
	grid-template-columns: repeat(3, 1fr);
	width: 100%;
}

.partThree > img {
	width: 100%;
}
